extends menu
block content
  .login
    .container
      form.form-signin(action='/admin',method='post')
        h2.form-signin-heading Please login
        label.sr-only(for='inputEmail') Email address
        input.form-control(for='inputEmail', type='text', name='email', id='inputEmail', required='', placeholder='Email address')
        label.sr-only(for='inputPassword') Password
        input.form-control(for='inputPassword', type='password', name='password', required='', id='inputPassword', placeholder='Password')
        button.btn.btn-lg.btn-primary.btn-block(type='submit') Login