extends menu
block content
  section.main-section
    .row
      h1= "Algo salio mal :("
      -if(error.status!=404){
      h2= message
      h3= error.status
      pre #{error.stack}
      -}else{
      h3 Paguina no encontrada
      -};
      

