extends menu
block content
  .row.centered-text
      .large-12.columns
         h1 ¿Porque este proyecto?
         p.lead
           | Esta aplicación web esta creada como base para el curso que estoy realizando con las tecnología node.JS, mongoDB, express, jada, stylus, npm, javaScript, grunt, bower y otros.
           br
           |  Este ejemplo es casi solo para mi, ver como mejorar la programación, encontrar desafíos, errores, mejorar mi programación, programar de una manera que permita ser resulta fácil de mantener.