doctype html
html(lang='es')
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title= title
    block css
      link(href='/components/bootstrap/dist/css/bootstrap.css', rel='stylesheet')
      link(href='/components/bootstrap/dist/css/bootstrap-theme.css', rel='stylesheet')
      link(href='/css/style.css',rel='stylesheet')
    block js
      if ENV_DEVELOPMENT
        script(src='http://localhost:35729/livereload.js')
  body
    block menuContenido
      footer.footer
    -var year = new Date().getFullYear();
      .row
        .col-md-4 © Company #{year}
        .col-md-4.col-md-offset-4 Marani Matias Ezequiel 
          a(href='mailto:maranimatias@gmail.com') maranimatias@gmail.com
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js')
    script(src='/components/bootstrap/dist/js/bootstrap.js')