doctype html
html(lang='es-AR')
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title= title
    block css
      link(href='/components/foundation/css/foundation.css', rel='stylesheet')
      link(href='/css/style.css',rel='stylesheet')
      link(href='/components/select2/select2.css',rel='stylesheet')
      //link(href='/components/select2/select2-bootstrap.css',rel='stylesheet')
      //link(href='/css/select2-custom.css',rel='stylesheet')
    block js
      script(src='/components/foundation/js/vendor/modernizr.js')
        if ENV_DEVELOPMENT
          script(src='http://localhost:35729/livereload.js')
  body
    block menuContenido
    -var year = new Date().getFullYear();
    .row.max-width-X
      hr
      .row
        .large-6.columns
          p © Copyright 2015 - #{year}.
        .large-6.columns
          ul.inline-list.right
            li
              a(href='mailto:maranimatias@gmail.com') Marani Matias Ezequiel.
  

  script(src='/components/foundation/js/vendor/jquery.js')
  script(src='/components/foundation/js/foundation/foundation.abide.js')
  script(src='/components/foundation/js/foundation/foundation.js')
  script(src='/components/foundation/js/foundation/foundation.reveal.js')
  script(src='/components/select2/select2.min.js')
  script.
    $(document).foundation();
  script.
    $(document).ready(function(){
    //$(".js-data-example-ajax").select2();
    $(".js-data-example-ajax").select2({
    ajax: {
    url: "https://api.github.com/search/repositories",
    dataType: 'json',
    delay: 250,
    data: function (params) {
    return {
    q: params.term, // search term
    page: params.page
    };
    },
    processResults: function (data, page) {
    // parse the results into the format expected by Select2.
    // since we are using custom formatting functions we do not need to
    // alter the remote JSON data
    return {
    results: data.items
    };
    },
    cache: true
    },
    escapeMarkup: function (markup) { return markup; }, // let our custom formatter work
    minimumInputLength: 1,
    templateResult: formatRepo, // omitted for brevity, see the source of this page
    templateSelection: formatRepoSelection // omitted for brevity, see the source of this page
    });
    
    });    