doctype html
html(lang='es-AR')
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title= title
    block css
      link(href='/components/foundation/css/foundation.css', rel='stylesheet')
      link(href='/css/style.css',rel='stylesheet')
      link(href='/components/select2/select2.css',rel='stylesheet')
      link(href='/css/select2-custom.css',rel='stylesheet')
    block js
      script(src='/components/foundation/js/vendor/modernizr.js')
        if ENV_DEVELOPMENT
          script(src='http://localhost:3200/livereload.js')
  body
    block menuContenido
    -var year = new Date().getFullYear();
    .row.max-width-X
      hr
      .row
        .large-6.columns
          p © Copyright 2015 - #{year}.
        .large-6.columns
          ul.inline-list.right
            li
              a(href='mailto:maranimatias@gmail.com') Marani Matias Ezequiel.
  

    script(src='/components/foundation/js/vendor/jquery.js')
    script(src='/components/foundation/js/foundation/foundation.js')
    script(src='/components/foundation/js/foundation/foundation.abide.js')
    script(src='/components/foundation/js/foundation/foundation.reveal.js')
    script(src='/components/select2/select2.min.js')

    script.
      $(document).foundation();
-if('/search' == url ){
    script.
      function repoFormatResult(repo) {
       if(!repo.surname){repo.surname='';};
        if(!repo.name){repo.name='';};
        if(!repo.email){repo.email='';};
        if(!repo.photo){repo.photo='';};
        var provedor='';
        if(repo.provider=='local'){ provedor='<leabe>' + repo.provider + '</leabe>'; };
        if(repo.provider=='web'){ provedor='<leabe class="text-info">' + repo.provider + '</leabe>'; };
        if(repo.provider=='test'){ provedor='<leabe class="text-warning">' + repo.provider + '</leabe>'; };
        if(repo.provider=='facebook'){ provedor='<leabe class="text-primary">' + repo.provider + '</leabe>'; };
        if(repo.provider=='github'){ provedor='<leabe class="text-success">' + repo.provider + '</leabe>'; };
        var markup = '<div class="row collapse"> <div class="small-2 columns">' +
            '<img src="' + repo.photo + '" width="64px" height="64px" />' +
            '</div> <div clas="small-10 columns"> <div class="row collapse">' +
            '<div class="small-10 columns">' + repo.name +' '+ repo.surname +'</div>' +
            '<div class="row collapse"> <div class="small-5 columns">' + repo.email + '</div>' +
            '<div class="small-5 columns">'+ provedor +'</div> </div> </div> </div> </div>'; 
            
        
          return  repo.name +' '+ repo.surname ;
      }

      function repoFormatSelection(value) { return value.id; }

      $("#e6").select2({
      placeholder: "Search for a Employees",
      minimumInputLength: 1,
      ajax: {
        url: "https://api.github.com/search/repositories",
        //url: "/search/res",
        dataType: 'json',
        quietMillis: 250,
        data: function (term) { return { q: term }; },
        results: function (data) { return { results: data.items }; },
        cache: true 
      },
      formatResult: repoFormatResult,
      formatSelection: repoFormatSelection
      });

-};