extends menu
block content
  section.main-section
    .row.max-width-X
      .row
        .large-12.large-centered.columns
          .row
            h1.title Employees Wiki
            p Welcome to Employees Wiki.
          .row.content
            -var msj =JSON.stringify(flashmsg);
            -if(msj!='[]'){
            p.text-info  #{msj}.
            -};
      .row
        form(name='fromSearch',action='',method='post',data-abide='')
          .large-6.large-centered.medium-centered.columns
            .row
              .small-10.columns
                label(for='inputSearch') Search by name or sername.
            .row.collapse
              -if (user) {
              .small-10.columns
              -}
                .select2-custom
                  input#e6(type='hidden', name='search')
              -if (user) {
              .small-2.columns
                button.postfix(type='submit') Go
              -}
