extends menu
block content
  section.main-section
    .row.max-width-X
      .row
        .large-12.large-centered.columns
          .row
            h1.title Employees Wiki
            p Welcome to Employees Wiki.
      .row
        form(name='fromSearch',action='',method='post',data-abide='')
          .large-6.large-centered.medium-centered.columns
            .row
              .small-10.columns
                label(for='search') Search by name or sername.
            .row.collapse
              -if (user) {
              .small-10.columns.select2-custom
                input#e6(type='hidden', name='search',autofocus)
              -}else{
              .select2-custom
                input#e6(type='hidden', name='search', autofocus)
              -}
              -if (user) {
              .small-2.columns
                button.postfix(type='submit') Go
              -}
block script
  script.
    function FormatResult(repo) {
      if(!repo.surname){repo.surname='';};
      if(!repo.name){repo.name='';};
      if(!repo.email){repo.email='';};
      if(!repo.photo){repo.photo='';};
      var provedor='';
      if(repo.provider=='local'){ provedor='<leabe>' + repo.provider + '</leabe>'; };
      if(repo.provider=='web'){ provedor='<leabe class="text-info">' + repo.provider + '</leabe>'; };
      if(repo.provider=='test'){ provedor='<leabe class="text-warning">' + repo.provider + '</leabe>'; };
      if(repo.provider=='facebook'){ provedor='<leabe class="text-primary">' + repo.provider + '</leabe>'; };
      if(repo.provider=='github'){ provedor='<leabe class="text-success">' + repo.provider + '</leabe>'; };
      var markup = '<div class="row collapse"> <div class="small-2 columns">' +
          '<img src="' + repo.photo + '" width="64px" height="64px" />' +
          '</div> <div clas="small-10 columns"> <div class="row collapse">' +
          '<div class="small-10 columns">' + repo.name +' '+ repo.surname +'</div>' +
          '<div class="row collapse"> <div class="small-5 columns">' + repo.email + '</div>' +
          '<div class="small-5 columns">'+ provedor +'</div> </div> </div> </div> </div>'; 
      return  markup ;
    }

    function FormatSelection(value) {
      resul = value.name +' '+ value.surname ;
      if(value.email){ resul =resul + ' - '+value.email};
    return resul;
    };

    $("#e6").select2({
    placeholder: "Search for a Employees",
    minimumInputLength: 1,
    formatResult: FormatResult,
    formatSelection: FormatSelection,
    ajax: {
      url: "/search/res",
      dataType: 'json',
      quietMillis: 250,
      cache: true ,
      data: function (term) { return { q: term }; },
      results: function (data) {
                  data.forEach(function(element){
                  element.id=element._id; });
                  return { results: data }; 
      }
    }
    });