extends menu
block content
  h1= title
  form(action='',method='post')
    div
      label(for='nombre') nombre:
      input(type='text', name='nombre', id='nombre', placeholder='Nombre')
    div
      label(for='apellido') apellido:
      input(type='text', name='apellido', id='apellido', placeholder='Apellido')
    div
      label(for='email') email:
      input(type='text', name='email', id='email', placeholder='Email')
    div
      label(for='password') contraseña:
      input(type='text', name='password', id='password', placeholder='Contraseña')
    div
      input(type='submit', value='Save')