.select2-container {
    display: block;
    margin: 0;
}

.select2-container .select2-choice {
    display: block;
    height: 37px;
    padding: 0 0 0 8px;
    border: 1px solid #ccc;
    white-space: nowrap;
    line-height: 37px;
    color: #444;
    text-decoration: none;
    border-radius: 0px;
    background-color: #fff;
    background-image: linear-gradient(to bottom, #eee 0%, #fff 10%);
}

.select2-container .select2-choice .select2-arrow {
    border-radius: 0px;
    padding-top:5px;
}

.select2-results .select2-result-label {
    padding: 5px 4px 5px;
}

.select2-drop-active {
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}
.select2-drop.select2-drop-above.select2-drop-active{
   border-top: 1px solid #ccc;
   border-radius: 0px;
}

.select2-container.select2-drop-above .select2-choice {
    border: 1px solid #ccc;
    border-radius: 0px;
}

.select2-results .select2-highlighted {
    background: none repeat scroll 0% 0% #5C5C5C;
    color: #FFF;
}

.select2-container-multi .select2-choices .select2-search-choice {
    line-height: 1.3rem;
}

.select2-container-multi .select2-choices .select2-search-field input {
    padding: 5px;
    margin: 1px 0;
    max-height: 33px;
    font-family: sans-serif;
    font-size: 100%;
    color: #666;
    outline: 0;
    border: 0;
    -webkit-box-shadow: none;
            box-shadow: none;
    background: transparent !important;
}

.select2-search-choice-close {
    display: block;
    width: 12px;
    height: 13px;
    position: absolute;
    right: 3px;
    top: 6px;
    font-size: 1px;
    outline: medium none;
    background: url("select2.png") no-repeat scroll right top transparent;
}

ul.select2-choices.select2-choices {
    border-color: #ccc;
}

/*Opciones del grupo*/
.optGroup .select2-result .select2-result-label:only-child {
  background-color: #fff;
  color:#333;
  padding-left: 1rem;
  font-size: 1rem;
}
/*Opciones del grupo con  el mouse arriba*/
.optGroup .select2-result .select2-result-label:hover {
  background-color: #5C5C5C;
  color:#fff;
}

.optGroup {
  background-color: #eee;
  color:#000; 
}