a
  &.text-primary
    &:hover
      color #286090
  &.text-success
    &:hover
      color #2b542c
  &.text-info
    &:hover
      color #245269
  &.text-warning
    &:hover
      color #66512c
  &.text-danger
    &:hover
      color #843534
  &.bg-primary
    &:hover
      background-color #286090
  &.bg-success
    &:hover
      background-color #c1e2b3
  &.bg-info
    &:hover
      background-color #afd9ee
  &.bg-warning
    &:hover
      background-color #f7ecb5
  &.bg-danger
    &:hover
      background-color #e4b9b9

.text-muted
  color #777

.text-primary
  color #337ab7

.text-success
  color #3c763d

.text-info
  color #31708f

.text-warning
  color #8a6d3b

.text-danger
  color #a94442

.bg-primary
  color #fff
  background-color #337ab7

.bg-success
  background-color #dff0d8

.bg-info
  background-color #d9edf7

.bg-warning
  background-color #fcf8e3

.bg-danger
  background-color #f2dede

table
  width 100%
  max-width 100%
    thead
      background none repeat scroll 0% 0%  #E9E9E9

table tr.even, table tr.alt, table tr:nth-of-type(2n)
  background none repeat scroll 0% 0% rgba(240, 240, 240, 0.74)

.table-responsive
  min-height .01%
  overflow-x auto